@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.name {
    font-family: "Lobster";
    font-size: 5em;
    padding-bottom: 20px;
}

.layer {
    position: absolute;
    width: 500px;
    top: 60%;
    left: 60%;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    margin-top: -5%;
    margin-left: -250px;
    height: 190px;
    text-align: center;
    color: #6b6b6b;
    box-shadow: 2px 2px 4px #000000;
    animation: showIn 0.8s;
}

.choose1,
.choose2 {
    font-weight: bold;
    display: inline-block;
    line-height: 2.5rem;
    border-radius: 100%;
    border: 2px solid lightgray;
    height: 60px;
    width: 60px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 2.5em;
    background-color: white;
}

.color1 {
    color: #4286f4;
}

.color2 {
    color: #644b2b;
}

.choose1:hover,
.choose2:hover {
    border: 2px solid #cc8f3f;
}

.layer2 {
    position: absolute;
    width: 500px;
    top: 60%;
    left: 60%;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    margin-top: -5%;
    margin-left: -250px;
    height: 190px;
    text-align: center;
    color: #6b6b6b;
    box-shadow: 2px 2px 4px #000000;
    animation: showIn 0.8s;
}

.end-game {
    display: inline-block;
    line-height: 2.5rem;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.5em;
    border: none;
    color: #4286f4;
    background-color: white;
}

.end-game:hover {
    color: #3266ba;
}

.layer3 {
    position: absolute;
    width: 500px;
    top: 60%;
    left: 60%;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    margin-top: -5%;
    margin-left: -250px;
    height: 190px;
    text-align: center;
    color: #6b6b6b;
    box-shadow: 2px 2px 4px #000000;
    animation: showIn 0.8s;
}

.draw {
    display: inline-block;
    line-height: 2.5rem;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 1.5em;
    border: none;
    color: #e29126;
    background-color: white;
}

.range {
    margin: 0 auto;
    font-size: 1.5em;
}

.you-score {
    text-align: right;
}

.cpu-score {
    text-align: left;
}

.player-turn {
    padding: 5px;
}

.turn {
    border-bottom: 4px solid #7b7c7c;
}

.cpu-turn {
    padding: 5px;
}

.grid-container {
    margin-top: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.container {
    text-align: center;
    width: 332px;
}

.grid-item {
    height: 100px;
    width: 100px;
    border: 2px solid #6b6b6b;
    padding-left: 10px;
    font-size: 2.5rem;
    text-align: center;
    background-color: white;
    font-weight: bold;
}

#item1,
#item2,
#item3 {
    border-top: none;
}

#item1,
#item4,
#item7 {
    border-left: none;
}

#item3,
#item6,
#item9 {
    border-right: none;
}

#item7,
#item8,
#item9 {
    border-bottom: none;
}

.reset {
    margin-top: 30px;
    border: none;
    background-color: white;
    color: #e29126;
    font-size: 1.2em;
}

.reset:hover {
    margin-top: 30px;
    border: none;
    background-color: white;
    color: #af6a0f;
    font-size: 1.2em;
}



/* Overlay winning box */

#overlay {
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(218, 96, 15, 0.5);
    z-index: 2;
    cursor: pointer;
    animation: fadeIn 0.8s;  
    position: fixed;
    width: 100%;
    height: 100%;
}

#boite {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#text {
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.box-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    color: #af6a0f;
}

#result {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}